.btn-blue{
	background-color: #1e5088;
	padding: 20px 20px;
	border-radius: 4px; 
	color: white;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	margin: 20px;
}

.btn-blue a:hover{
  color: black;
}